client/node_modules
client/.git
client/.gitignore
client/Dockerfile
client/.next
client/.next/cache
client/.env

server/vendor
server/.git
server/.gitignore
server/.phpunit.result.cache
server/node_modules